In [12]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np 
from scipy.stats import sem
import warnings
warnings.filterwarnings('ignore')

In [13]:
# clinical trial csv path
clinical_data = "clinicaltrial_data.csv"
clinical_data_df = pd.read_csv(clinical_data)

In [14]:
# mouse data csv path
mouse_drug_data= "mouse_drug_data.csv"
mouse_drug_data_df = pd.read_csv(mouse_drug_data)

In [15]:
# combining 2 data sets 
merged_data_df = pd.merge(mouse_drug_data_df, clinical_data_df, how='outer', on='Mouse ID')
merged_data_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [16]:
# Creating new table for storing the Mean Tumor Volume Data Grouped by Drug and Timepoint
new_table_df = merged_data_df[["Tumor Volume (mm3)", "Drug", "Timepoint"]]
new_table_df.head()

   Tumor Volume (mm3)      Drug  Timepoint
0           45.000000  Stelasyn          0
1           47.313491  Stelasyn          5
2           47.904324  Stelasyn         10
3           48.735197  Stelasyn         15
4           51.112713  Stelasyn         20

In [17]:
# Create the GroupBy object based on the "Drug and Timepoint" column
Grouped_Tumor = new_table_df.groupby(["Drug", "Timepoint"])

In [18]:
mean_data_df = Grouped_Tumor["Tumor Volume (mm3)"].mean()
mean_data_df.head()

Drug       Timepoint
Capomulin  0            45.000000
           5            44.266086
           10           43.084291
           15           42.064317
           20           40.716325
Name: Tumor Volume (mm3), dtype: float64

In [ ]:
mean_data_df = pd.DataFrame(mean_data_df,columns=['Drug','Timepoint', 'Tumor Volume (mm3')])

In [19]:
# Creating new table for storing the Mean Grouped Tumore Volume by Drug and Timepoint
renamed_df = mean_data_df.rename(columns={"Drug":"Drug", "Timepoint":"Timepoint", "Tumor Volume (mm3)":"Mean Tumor Volume"})
renamed_df.head()

Drug       Timepoint
Capomulin  0            45.000000
           5            44.266086
           10           43.084291
           15           42.064317
           20           40.716325
dtype: float64

In [20]:
#df1 = pd.DataFrame(df1,columns=['Name','Mathematics_score'])
#print(df1)
#df1['percentage'] = df1['Mathematics_score']/df1['Mathematics_score'].sum()
#print(df1)

In [21]:
# I need samples calculation for sem
samples = renamed_df.loc[:, ["Mean Tumor Volume"]]
# Calculate standard error on means
sem = [s.sem() for s in samples]
# Convert the sem into a DataFrame
sem =  pd.DataFrame(renamed_df)
#Preview DataFrame
sem.head()

                             0
Drug      Timepoint
Capomulin 0          45.000000
          5          44.266086
          10         43.084291
          15         42.064317
          20         40.716325

In [23]:
mean_data_df = pd.DataFrame
mean_data_df.set_index(['Timepoint', 'Drug', 'Tumor Volume (mm3)']).unstack()
#pivot_mean_data_df = mean_data_df.pivot(index= 'Timepoint', columns= 'Drug', Values= 'Tumor Volume (mm3)')
#pivot_mean_data_df()

AttributeError: 'Series' object has no attribute 'set_index'

In [ ]:
Reframe_df = pd.DataFrame({
    "Timepoint": [0, 5, 10, 15, 20],
    "Capomulin": [45.000000, 44.266086, 43.084291, 42.064317, 40.716325],
    "Ceftamin": [45.000000, 46.503051, 48.285125, 50.094055, 52.157049],
    "Infubinol": [45.000000, 47.062001, 49.403909, 51.296397, 53.197691],
    "Ketapril": [45.000000, 47.389175, 49.582269, 52.399974, 54.920935],
    "Naftisol": [45.000000, 46.796098, 48.694210, 50.933018, 53.644087],
    "Placebo": [45.000000, 47.125589, 49.423329, 51.359742, 54.364417],
    "Propriva": [45.000000, 47.248967, 49.101541, 51.067318, 53.346737],
    "Ramicane": [45.000000, 43.944859, 42.531957, 41.495061, 40.238325],
    "Stelasyn": [45.000000, 47.527452, 49.463844, 51.529409, 54.067395],
    "Zoniferol": [45.000000, 46.851818, 48.689881, 50.779059, 53.170334]
})
Reframe_df

In [ ]:
# Grouped mean Tumor volume 
average_volume = Reframe_df.mean()
average_volume

In [ ]:
# Days of data collection
days = [0, 10, 20, 30, 40]
days

In [ ]:

plt.title("Tumor Response to Treatment")
plt.xlabel("Time(Days)")                   
plt.ylabel("Tumor Volume(mm3)")

plt.ylim(35,70, 5)
plt.yticks(np.arange(35, 70, 5)) 
                   
drug_campo, = plt.plot(days, Reframe_df.loc[:,["Capomulin"]], marker=".", color="red", label="Capomulin")
drug_infu, = plt.plot(days, Reframe_df.loc[:,["Infubinol"]], marker="*", color="blue", label="Infubinol")
drug_keta, = plt.plot(days, Reframe_df.loc[:,["Ketapril"]], marker="s", color="Green", label="Ketapril")
drug_placebo, = plt.plot(days, Reframe_df.loc[:,["Placebo"]], marker="d", color="black", label="Placebo")
plt.legend(handles=[drug_campo, drug_infu, drug_keta, drug_placebo], loc="upper left")
#plt.legend.show
#Set x axis and variables

#plt.hlines(0, 0, x_lim, alpha=0.3)
plt.show()

In [ ]:
# Creating new table for storing the Mean Met. Volume Data Grouped by Drug and Timepoint
table_df = merged_data_df[["Drug", "Timepoint", "Metastatic Sites"]]
table_df.head()
# Convert to DataFrame

# Preview DataFrame

In [ ]:
#Store the Mean Met. grouped by Drug and Timepoint
Grouped_Metas = table_df.groupby(["Drug", "Timepoint"])
mean_met_df = Grouped_Metas["Metastatic Sites"].mean()
mean_met_df.head()

In [ ]:
mean_met_df = Grouped_Metas["Metastatic Sites"].mean()
mean_met_df.head()
mean = mean_met_df

In [ ]:
met_samples = mean_met_df.loc[:, ["Metastatic Sites"]]
samples = met_samples
mean = mean_met_df
means = [s.mean() for s in samples]
# Calculate standard error on means
met_sem = [s.met_sem() for s in met_samples]
# Convert the sem into a DataFrame
met_sem =  pd.DataFrame(mean_met_df)
#Preview DataFrame
met_sem.head()

In [ ]:
Met_Reframe_df = pd.DataFrame({
    "Timepoint": [0, 5, 10, 15, 20],
    "Capomulin": [0.000000, 0.160000, 0.320000, 0.375000, 0.652174],
    "Ceftamin": [0.000000, 0.380952, 0.600000, 0.789474, 1.111111],
    "Infubinol": [0.000000, 0.280000, 0.666667, 0.904762, 1.050000],
    "Ketapril": [0.000000, 0.304348, 0.590909, 0.842105, 1.210526],
    "Naftisol": [0.000000, 0.260870, 0.523810, 0.857143, 1.150000],
    "Placebo": [0.000000, 0.375000, 0.833333, 1.250000, 1.526316],
    "Propriva": [0.000000, 0.320000, 0.565217, 0.764706, 1.000000],
    "Ramicane": [0.000000, 0.120000, 0.250000, 0.333333, 0.347826],
    "Stelasyn": [0.000000, 0.240000, 0.478261, 0.782609, 0.952381],
    "Zoniferol": [0.000000, 0.166667, 0.500000, 0.809524, 1.294118]
})
Met_Reframe_df

In [ ]:
#days = np.arange(0, 40, 10)

In [ ]:
days = [0, 10, 20, 30, 40]
days

plt.title("Metastatic Spread During Treatment")
plt.xlabel("Treatment Duration (Days)")                   
plt.ylabel("Met. Sites")

#plt.ylim(0, max(members) + 5)
plt.xticks(np.arange(0, 50, 10)) 
plt.xlim(0,50)
plt.ylim(0.0,3.5) 


Drug_campo, = plt.plot(days, Met_Reframe_df.loc[:,["Capomulin"]], marker=".", color="red", label="Capomulin")
Drug_infu, = plt.plot(days, Met_Reframe_df.loc[:,["Infubinol"]], marker="*", color="blue", label="Infubinol")
Drug_keta, = plt.plot(days, Met_Reframe_df.loc[:,["Ketapril"]], marker="s", color="Green", label="Ketapril")
Drug_placebo, = plt.plot(days, Met_Reframe_df.loc[:,["Placebo"]], marker="d", color="black", label="Placebo")
plt.legend(handles=[Drug_campo, Drug_infu, Drug_keta, Drug_placebo], loc="upper left")
#Set x axis and variables

#plt.hlines(0, 0, x_lim, alpha=0.3)
plt.show()

In [ ]:
#Mice count grouped by Drug and Timepoint
Mice_table_df = merged_data_df[["Drug", "Timepoint", "Mouse ID"]]
Mice_table_df.head()

In [ ]:
Grouped_Mice = Mice_table_df.groupby(["Drug", "Timepoint"])
mice_data = Grouped_Mice["Mouse ID"].count()
mice_data.head()

In [ ]:
Miner_format_df = pd.DataFrame({
    "Timepoint": [0, 5, 10, 15, 20],
    "Capomulin": [25, 25, 25, 24, 23],
    "Ceftamin": [25, 21, 20, 19, 18],
    "Infubinol": [25, 25, 21, 21, 20],
    "Ketapril": [25, 23, 22, 19, 19],
    "Naftisol": [25, 23, 21, 21, 20],
    "Placebo": [25, 24, 24, 20, 19],
    "Propriva": [26, 25, 23,  17, 17],
    "Ramicane": [25, 25,  24,  24, 23],
    "Stelasyn": [26, 25, 23, 23, 21],
    "Zoniferol": [25, 24, 22, 21, 17]
})
Miner_format_df

In [ ]:
#df['Drug'] = df['rent']/df['total']
#df.pct_change(axis='columns')
#Mouse survivle percentage
df = df.groupby(['Drug', 'Timepoint']).agg({'Mouse ID': 'count'})
Drug = df.groupby(['Drug']).agg({'Mouse ID': 'count'})
percen = Time_point.div(Drug, level='Drug') * 100
percen = pd.DataFrame(percen)
percen.head()

In [ ]:
days = [0, 10, 20, 30, 40]
plt.title("Survival During Treatment")
plt.xlabel("Time(Days)")                   
plt.ylabel("Survial Rate %")

#plt.ylim(0, max(members) + 5)
#plt.yticks(np.arange(40, 100, 10)) 
#y_axis = np.arange(0,100,10)
#plt.ylim(0,100)
x_axis = np.arange(0,40,10)
plt.xticks(np.arange(0, 50, 10))
x_axis
                   
data_campo, = plt.plot(days, Miner_format_df.loc[:,["Capomulin"]], marker=".", color="red", label="Capomulin")
data_infu, = plt.plot(days, Miner_format_df.loc[:,["Infubinol"]], marker="*", color="blue", label="Infubinol")
data_keta, = plt.plot(days, Miner_format_df.loc[:,["Ketapril"]], marker="s", color="Green", label="Ketapril")
data_placebo, = plt.plot(days, Miner_format_df.loc[:,["Placebo"]], marker="d", color="black", label="Placebo")
plt.legend(handles=[data_campo, data_infu, data_keta, data_placebo], loc="best")
#plt.legend.show
#Set x axis and variables

#plt.hlines(0, 0, x_lim, alpha=0.3)
plt.show()